build
bump2version
esbonio
flake8
furo
ipykernel
ipywidgets
myst-parser
pre-commit
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-sugar
python-dotenv
ruff
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
tox
twine
watchdog
wheel
